/* src/components/ui/Card.module.css */
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.39);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%; /* Sørger for at kortet kan vokse i et grid */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.637);
}
